.root
{
	-fx-background-color: black;
}
.button  
{  
    -fx-background-color:darkslateblue;   
    -fx-font-family:courier_new;   
    -fx-text-fill:White;  
    -fx-border-color: Wheat;  
	-fx-border-radius: 5;  
    -fx-font-size:30;  
    -fx-pref-height: 100;
    }
#StartButton
{
	-fx-pref-width: 200;	
}
#LeaderBoardPageButton{
	-fx-pref-width: 275;	
}
#SettingsButton{
	-fx-pref-width: 200;	
}
#ResumeGameButton{
	-fx-pref-width: 200;	
}
#score{
	-fx-font-size: 30px;
	-fx-font-weight: bold;
	-fx-text-fill: magenta;
}